<div class="m-2">
  <h3 class="text100">Language</h3>
  <div class="lang-container">
    <button
      type="button"
      class="m-1"
      [ngClass]="{
        'btn-unselected': selectedLanguage.name !== langue.name,
        'btn-selected': selectedLanguage.name === langue.name
      }"
      *ngFor="let langue of languages"
      (click)="setLanguage(langue.name, langue.code)"
    >
      {{ langue.name }}
    </button>
  </div>
</div>
<div class="m-2">
  <h3 class="text100">Gategories</h3>
  <div class="genre-container">
    <div
      class="genre-item"
      [ngClass]="{
        'btn-unselectedGenre': selectedGenre !== genre.title,
        'btn-selectedGenre': selectedGenre === genre.title
      }"
      *ngFor="let genre of genres"
      (click)="setGenre(genre.title)"
    >
      <img src="{{ genre.link }}" alt="{{ genre.title }}" class="genre-image" />
      <p class="genre-title">{{ genre.title }}</p>
    </div>
  </div>
</div>
<div class="m-2">
  <h3 class="text100">Story Length</h3>
  <button
    type="button"
    class="m-1"
    [ngClass]="{
      'btn-unselected': selectedStoryLength !== length.value,
      'btn-selected': selectedStoryLength === length.value
    }"
    *ngFor="let length of storyLengths"
    (click)="setStoryLength(length.value)"
  >
    {{ length.label }}
  </button>
</div>
